*, ::after ,::before{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
    
}
ul{
    text-decoration: none;
    list-style: none;
}

/* header section */
.flex-display{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-display-column{
    display: flex;
    flex-direction: column;
}
.main-pre-hero{
    width: 100%;
    height: 100%;
}
.thick-green-div{
    height: 5vh;
    width: 100%;
    background-color: #67ACB4;
}
.thick-grey-div{
    height: 4vh;
    width: 100%;
    background-color: #EEEEEE;
}


.logo{
    margin-right: 20%
}
.logo h3{
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
}
.logo img{
    width: 40px;
    height: 40px;
}
.mid-elements{
   margin-right: 20%
}
.mid-elements input,select{
    border-radius: 5px;
    border: 1px solid grey;
    margin: 5px;
    height: 30px;
}
.action-icon-btns > a{
    margin-left: 10px;
}

/* nav bar */
.navbar {
    overflow: hidden;
    padding: 10px;
  }
.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn  {
    color: #67ACB4;
    border-radius: 20px;
}
.dropdown-content a:hover{
    color: #67ACB4;
    border-radius: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
  
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.nav-anchor{
    margin-right: 100px;
    margin-left: 100px;
}

/* hero section */

.mySlides {display:none}
.hero-left, .hero-right, .hero-badge {
    cursor:pointer
}
.hero-badge {
    height:13px;
    width:13px;
    padding:0
}
.hero-content{
    margin-left:auto;
    margin-right:auto;
    max-width:980px
}
.hero-display-container{
    position:relative;
}
.hero-display-container img{
    width: 100%;
    height: 40vh;
}
.hero-display-container:hover{
    display:block
}
.hero-display-container:hover span.hero-display-hover{
    display:inline-block
}
.hero-center{
    text-align:center!important;
    display:inline-block;
    width:auto;
}
.hero-container:after,.hero-container:before{
    content:"";
    display:table;
    clear:both;
    padding:0.01em 16px
}
.hero-section{
    margin-top:16px!important;
    margin-bottom:16px!important
}
.hero-large{
    font-size:18px!important;
}
.hero-text-white{
    color:#fff!important;
}
.hero-display-bottommiddle{
    position:absolute;
    left:50%;bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
.hero-left{
    float:left!important;
}
.hero-right{
    float:right!important;
}
.hero-hover-text-khaki:hover{
    color:#b4aa50!important;
}
.hero-badge{
    border-radius:50%;
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}
.hero-border{
    border:1px solid #ccc!important;
}
.hero-transparent{
    background-color:transparent!important;
}
.hero-hover-white:hover{
    color:#000!important;
    background-color:#fff!important;
}











/* utilities */
button{
    transition-duration: 0.4s;
    display: inline-block;
    text-align: center;
}
.header-btn{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: #67ACB4;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
}
.white-btn{
    border: 1px solid #67ACB4;
    background-color: white;
    color: #67ACB4;
}




/* media query */
